#slide1{
  background: url(BackgroundPrincipal.png) center no-repeat fixed;
  height:100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}
.slideHexacoptere{
  background: #1e1e1e;
  height:100%;
}
.videoPlay{
  width:5000px;
  height:412px;
  margin:40px;
  padding:0;
  position:relative;
  z-index:0;
}
.insideSlide{
  width: 30%;
  animation-name: zoom;
  animation-duration: 9s;
  margin: 5vh;
}
@keyframes zoom{
    from {width: 0%;}
    to {width: 30%;}
}

#slide2 {
  background: url(http://www.teamrotor.com/backPrinc.jpg) center fixed;
  bottom: 100px;
  -webkit-background-size: cover; /*pour ansiens navig. FireF*/
  background-size: cover; /*pour ansiens navig. IE*/
  /* height: 100vh; */
  display: block;
}
iframe{height: 100vh;width: 100%;position: relative;}
body 
{
    margin: 0;
    padding: 0;
    background-image: url(http://www.teamrotor.com/background.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    background-size: 100% 105%;
}
.bodyWithPadding{
  margin: 0;
  padding: 0 0 0 21vh;
}
h2{
  margin-bottom: 10px;
  margin-top: 10px;
}
/*-----------------------------------------------------*/
.order{
  display:flex;
  margin: 38px 0;
  padding: 0 74px;
  background: #0a0910fa;
}
.picBuy{
  width:55vh;
  height:auto;
}
.titleOrder{
  font-size: 107px;
  font-family:Julius sans one;
  color: #b9b9b9;
  margin:40px 0;
}
.buybuybuy{
  font-family:Oswald;
  display: block;
  margin:0;
  font-size: 24px;
}
.rightPart{
  text-align:center;
}
/*-----------------------------------------------------*/
section
{
    background: #0e0e0f;
}
.aboutTitle {
    color: #ddd;
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0)); */
    background: black;
    font-family: 'Julius Sans One', sans-serif;
    padding: 20px 0 0 45px;
    font-size: 30px;
    margin: 0 0vh 0 0;
}
.sectionArticle{
  background:none;
  padding: 47px;
}
.picArticle{
  width:100%;
}
.titreArticle{
  color:black;
  font-family:'Changa One', cursive;
  font-size: 6vh;
  text-align:left;
}
.dateArticle{
  font-family:'Fugaz One', cursive;
  color: #5a5a5a;
}
.strongerArticle{
  font-size: 21px;
  font-family:  'Bree Serif', serif;
}
.corpArticle{
  font-family:'Fugaz One', cursive;
  font-size:large;
  padding-left: 14px;
}
.conteneurQualite
{
  border-radius:5px;
  padding:2%;
  /* margin: 3% 3% 3% 36vh; */
  display:flex;
  overflow:auto;
  align-items: baseline;
  flex-direction: initial;
  margin: 5vh;
}
.descriptionHexaGo
{
  color: rgba(0, 0, 0, 0);
  text-align: left;
  font-family: Armata;
  padding: 1% 30px 1% 340px;
  font-size: 26px;
  margin: auto;
  font-weight: 100;
  background: linear-gradient( to bottom, red, #1e1e1e);
  /* margin-left: 22vh; */
  text-shadow: 0 0 2px #ff8686;
}
.visionTitle{
  font-weight:100;
  font-size: 79px;
  display:block;
  position:absolute;
  margin: 57px 47px;
  font-family: Russo One;
  color: rgb(229, 0, 0);
  text-shadow: 0 0 20px #000000;
}
.contentVision
{
  /* margin-left: 600px; */
  padding: 0 5vh 0 0;
  background:none;
  font-family: Shrikhand;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
}
.rubrique
{
  width: 50%;
  padding: 1%;
  font-family:Oswald;
}
.picRepresent{
  width: 96%;
  border-radius:10px;
  border: 5px #79b9b7;
  border-style:double;
}
.numTel
{
    display:block;
    background-color: #000000;
    top: 103%;
    left:0;
    position:fixed;
    margin: 0;
    padding: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);/*G Chrome*/
    font-size: 12vh;
    padding:0 5vh;
    color: #ff4b4b;
    font-family: Pacifico,sans-serif;
}
.citation
{
  display:block;
  margin: 0 20% 0 20%;
  padding:20px;
  border-radius:20px 20px 0 0;
  border: solid blue 12px;
  border-bottom:none;
  font-family:Lobster, serif;
  color: wheat;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0% 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 111px;
    /* overflow: auto; */
    display:flex;
    align-items: center;
    justify-content: space-between;
}
li a
{
    text-decoration: none;
    font-family:'Julius Sans One', sans-serif;
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    margin: 1vh;
    text-decoration: none;
    font-size: 19px;
    border-radius:10px;
    
/* Seules la couleur du texte et les dimensions de nos paragraphes auront une transition. */
    transition-property: color, background-color, padding;
    transition-duration: 1s;
}
li a:hover {
    background-color: rgba(42, 84, 177, 0.95);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    margin: 1vh;
    border-radius:10px;
}
/*
li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #fff;
    color: black;
}*/
.main-nav {
  height: 111px;
  z-index: 150;
  margin-bottom: 0px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  top:0;
  position:static;
  width:100%;
}
h1
{
    justify-content: flex-end;
    text-align: center;
    color: #ffffff;
    /* background-color: teal; */
    margin: 0;
    padding: 0;
}
.imgPilot{
  height: 162px;
  border-radius: 0 15px;
  margin: 0 16px 0 5px;
  /* border-style:solid; */
  /* border-width: 6px; */
  /* border-color: #d0e3e3; */
}
.pilotPresent{
  height: auto;
  overflow:hidden;
  justify-content:space-around;
  background:none;
}
.moviePresent{
  background: none;
  margin: 0;
  padding: 0;
}
.movieBox{
  margin: 0 0 -6px 0px;
  padding: 0;
}
.pilotName{
  color: #ffffff;
  font-family: Quicksand;
  font-weight:100;
  font-size: 19px;
  text-align: center;
  margin: 8px 0 0 0;
  padding: 0;
}
.pilotTitle{
  background:none;
  text-align: right;
  color: #ccc;
  z-index: 1;
  padding: 0 0 0 5vh;
  font-size: 60px;
  font-family: 'Julius Sans One', sans-serif;
  position: absolute;
}
.pilotBox{
  padding: 0px 0 2% 0px;
  margin: -4px 0 0 0;
  background: black;
  /* background: linear-gradient(160deg, black, rgba(255, 0, 0, 0)); */
}
.object{
  text-align: right;
  font-size:50px;
  margin: 111px 4% 0 62%;
  padding: 45vh 0 5% 0;
  color: black;
  font-family: 'Julius Sans One', sans-serif;
}
.flashInfo{
  font-family:  Anton;
  color: #353232;
  background-color: #ffd100;
  margin:  0;
  padding:20px;
}
.titreInfo{
  font-size:30px;
  margin:0;
}
.soustitreInfo{
  color: #051515;
  margin: 0;
  padding: 18px;
  font-family: Oswald;
}
.infoList{
  background:none;
  font-size:20px;
  list-style-type: none;
}
textarea
{
    margin: 0px;
    width: 49%;
    font-family: Julius Sans One;
    color:white;
    background: linear-gradient(to bottom, #1b1b1beb,#3444ffad );
    height: 136px;
    border:  none;
    border-radius: 3px;
    transition-property:background, width;
    transition-duration:0.7s;
}
textarea:hover{
  width:70%;
  background:#000000f2;
}
form
{
    font-family: Oswald;
    padding:130px 11% 7% 11%;
    height:100%;
    font-size: 20px;
    color: #14151d;
}
input{
  border-radius: 5px;
  font-family: Anton;
  width: 25%;
  background: #fbf3bd00;
  transition-property: background, width;
  transition-duration: 0.5s;
  border-style: dashed;
}
input:hover{
  background:#ffd100;
  width:50%;
}
label{
  display:flex;
  justify-content:space-between;
  margin:10px;
}

.foot{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    margin-right: 20%;
}
.footContact{
    font-family: 'Francois One', sans-serif;
    font-size:20px;
}
footer {
    background-color: rgb(255, 255, 255);
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 7px solid #011237;
}
#logo
{
    width: 97px;
    vertical-align: middle;
    margin:10px 1% 10px 3%;
}
.logoWrite
{
    width: 150px;
    margin-right: auto;
    margin-left: 5%;
}
.picHap{
  display:none;
}
.back1{
  background-image: url(http://www.teamrotor.com/img/picPresents/3.JPG);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 100px;
}
.back2{
    background-image: url(https://media.giphy.com/media/3FeCsbWeQU5LMilcEH/giphy.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 116%;
    padding-top: 100px;
}
.back3{background-image: url(http://www.teamrotor.com/img/picPresents/2.jpg);background-repeat: no-repeat;background-position: left bottom;background-attachment: fixed;background-size: 111%;padding-top: 100px;}
.hap{
  display: flex;
  background: #3784b3b0;
  margin: 38vh 0 0vh 0;
}
.wHappen{
  width:50vh;
  font-size:30px;
  font-family:Julius Sans One;
  padding: 21px;
  margin:0;
  background:#ffffff;
  color: #0d6c8a;
}
.happen{
  width:50%;
  padding: 39px;
  margin:0;
  color:white;
  font-family:Julius Sans One;
  font-size: 20px;
}
.bossPicture
{
    float: right;
    height: 150px;
    border-radius: 100%;
    margin: auto 2%;
    padding: 5px;
    border: 10px solid lightskyblue;
}
#textShannah
{
    font-family: 'Julius sans One', sans-serif;
    font-size: 20px;
    line-height: 1.3;
    background-color: rgba(19, 182, 255, 0.7);
    margin: 0px;
    padding: 2% 4% 2% 0%;
    color: rgb(241, 241, 255);
    display: flex;
    text-align: justify;
    align-items:center;
    /* border: 15px solid rgba(77, 185, 180, 0.78); */
}
.leaveMessage{font-family: Julius Sans One;margin-top: 61px;color: aliceblue;}
@media screen and (min-width: 470px) and (max-width: 1024px){

#slide2 {
  background: url(http://www.teamrotor.com/backPrincMobile.JPG) center fixed;
  -webkit-background-size: cover; /*pour ansiens navig. FireF*/
  background-size: cover; /*pour ansiens navig. IE*/
  width: 100%;
  display: block;
}
.bodyWithPadding 
{
    margin: 0;
    padding:0;
}
.visionTitle{
  position:relative;
  margin: 0 0 0 0;
  padding-top:10vh;
  background-color:red;
  color:red;
}
.aboutTitle {
    margin: 0;
}
.conteneurQualite
{
  margin:3%;
}
.contentVision
{
  margin:0;
  font-family: Shrikhand;
  flex-direction: column;
}
.citation
{
  margin:0 22% 0 22%;
}
.videoPlay{
  width:50vh;
  height:300px;
}
.numTel
{
    display:block;
    background-color: #393939;
    top: 0;
    left:0;
    position:fixed;
    margin:0;
    width:100%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
    font-size:6vh;
    padding:0 16.3vh;
    color: #ff4b4b;
    font-family: Pacifico,sans-serif;
}
.descriptionHexaGo
{
  margin: auto;
  padding: 1px 10px;
  background: linear-gradient( to bottom, red, #1e1e1e);
}
#slide1{
  display: none;
}
 .foot{
   display:none;
 }
.logoWrite{
    width: 120px;
    margin: 0 0 0% 43%;
}
#textShannah
{
    font-size: 20px;
    line-height: 1.5;
    margin: 0px;
    padding: 3% 7%;
    text-align: justify;
    display:block;
    border:0px;
}
.pilotPresent{
  flex-wrap: wrap;
}
.pilotBox{
}
iframe{
  width:100%;
}
.bossPicture
{
    float:right;
}
#logo
{
    width: 99px;
    vertical-align: middle;
    margin:10px 5% 10px 1%;
    display:none;
}
li{
    /* display:none; */
}

.headerIcon{
    position: relative;
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    }
    .headerIcon:after{
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 0;
      top: 3px;
      left: 0px;
      box-shadow: 0 10px 0 2px #ffffff, 0 21px 0 2px #ffffff, 0 32px 0 2px #ffffff; }
.object{
 margin: 34vh 6% 0 39%;
 padding: 69px 0;
}
}
@media screen and (max-width: 470px){
.menuItemMobile
{
    display: block;
}
#slide2 {
    background: url(http://www.teamrotor.com/backPrincMobile.JPG) ;
    -webkit-background-size: cover; /*pour ansiens navig. FireF*/
    background-size: cover; /*pour ansiens navig. IE*/
    width: 100%;
    display: ;
}
.bodyWithPadding 
{
    margin: 0;
    padding:0;
}
.back1{
  background:none;
  padding:0;
}
.back2{
  background:none;
  padding:0;
}
.back3{
  background:none;
  padding:0;
}
.hap{
  background-color: #1f1f1f;
  margin:0;
}
.picHap{
  display:block;
  width:100%;
}
form{
  padding:10px;
}
label{
  flex-direction: column;
}
textarea{
  width:100%;
}
input{
  width:100%
}
.pilotTitle{
  font-size: 20px;
}
.sectionArticle{
  padding:5px;
}
.visionTitle{
  position:relative;
  margin: 0 0 0 0;
  padding-top:10vh;
  background-color:red;
  color:red;
  font-size: 14vh;
}
.descriptionHexaGo
{
  margin: auto;
  padding: 1px 10px;
  background: linear-gradient( to bottom, red, #1e1e1e);
}
.aboutTitle {
    margin: 0;
}
.conteneurQualite
{
  margin:3%;
}
.contentVision
{
  margin:0;
  padding: 4vh 2vh;
  flex-direction: column;
}
.citation
{
  margin:30px 7% 0 7%;
}
.numTel
{
    display:block;
    background-color: #414141;
    top: 0;
    left:0;
    position:fixed;
    margin:0;
    width: 100%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
    font-size: 4.8vh;
    padding: 0 10vh;
    color: #ff4b4b;
    font-family: Pacifico,sans-serif;
}
.videoPlay{
  width:50vh;
  height:200px;
}
.descriptionHexaGo
{
  margin: auto;
  padding: 0 5vh;
  background: linear-gradient( to bottom, red, #1e1e1e);
  overflow: hidden;
}
#slide1{
  display: none;
}
 .foot{
   display:none;
 }
.logoWrite{
    width: 120px;
    margin: 0px 0 0 32%;
}
.pilotPresent{flex-wrap:  wrap;}
#textShannah
{
    /* font-family: 'Cabin', sans-serif; */
    font-size: 17px;
    /* line-height: 1.5; */
    margin: 0px 0px;
    padding: 4%;
    text-align: left;
    display:flex;
    flex-direction:column;
    border:0px;
    /* word-spacing: -4px; */
}
.bossPicture
{
    float:right;
    margin:0;
}
#logo
{
    width: 99px;
    vertical-align: middle;
    margin:10px 5% 10px 1%;
    display:none;
}
li{
    display:none;
}

.headerIcon{
    position: relative;
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    
    }
    .headerIcon:after{
      content: '';
      position: absolute;
      display: block;
      width: 30px;
      height: 0;
      top: 35px;
      left: 0px;
      box-shadow: 0 10px 0 2px #ffffff, 0 21px 0 2px #ffffff, 0 32px 0 2px #ffffff; }
    
.conteneurQualite
{
  flex-wrap:wrap;
}
.titreArticle{
  font-size:3vh;
}
h1
{
  /* background-color: rgba(24, 88, 242, 0.72); */
}
.rubrique
{
  width:100%;
}
.picRepresent
{
  height:auto;
  margin-top:20px;
}
.object{
  color:white;
  margin:42vh 4% 0 0;
}
.hap{
  display:block;
  padding: 19px 10px 10px 18px;
}
.happen{
  width:100%;
  padding: 0px;
  margin-top: 12px;
}

.wHappen{
  width:100%;
  margin:0;
  padding: 5px 0 7px 0;
  background:  none;
  color:  white;
}
}
/*by Shannah Santucci*/
